In [3]:
import pandas as pd

df = pd.read_table('phenocode-429.3.tsv')
print(df)

     chrom     pos ref alt         rsids nearest_genes  \
0        1   10612   A   C  rs1441784962         OR4F5
1        1   10894   G   A           NaN         OR4F5
2        1   10915   G   A           NaN         OR4F5
3        1   10930   G   A           NaN         OR4F5
4        1   10989   G   A           NaN         OR4F5
..     ...     ...  ..  ..           ...           ...
712      1  784668   T   C   rs773790696        OR4F16
713      1  784754   G   A   rs190637783        OR4F16
714      1  784843   G   A   rs149231255        OR4F16
715      1  784992   A   G  rs1037673840        OR4F16
716      1  785013   A   G  rs1050697889        OR4F16

                            consequence   pval   beta  sebeta        af  \
0                 upstream_gene_variant  0.048  24.00    12.0  0.000051
1                 upstream_gene_variant  0.940  -0.27     3.4  0.000670
2                 upstream_gene_variant  0.280   3.70     3.4  0.000490
3                 upstream_gene_variant  0.550  -1.50     2.5  0.001300
4                 upstream_gene_variant  0.690   0.83     2.1  0.001600
..                                  ...    ...    ...     ...       ...
712  non_coding_transcript_exon_variant  0.720  -1.50     4.1  0.000220
713  non_coding_transcript_exon_variant  0.072  15.00     8.6  0.000120
714  non_coding_transcript_exon_variant  0.850  -1.80     9.4  0.000057
715                      intron_variant  0.790  -1.50     5.6  0.000140
716                      intron_variant  0.820  -1.10     5.0  0.000110

     case_af  control_af  tstat
0    0.00092    0.000050  0.340
1    0.00060    0.000670 -0.024
2    0.00130    0.000490  0.320
3    0.00074    0.001300 -0.240
4    0.00220    0.001600  0.190
..       ...         ...    ...
712  0.00000    0.000220 -0.088
713  0.00066    0.000120  0.210
714  0.00000    0.000057 -0.020
715  0.00002    0.000140 -0.047
716  0.00000    0.000110 -0.045

[717 rows x 14 columns]

In [4]:
df_ = df[df["chrom"]==1]

In [5]:
print(df_.shape,df.shape)

(717, 14) (717, 14)

In [12]:
for i in range(df_.shape[0]):
    if df_.loc[i,"beta"]<0:
        df_.loc[i,"Direction"]=-1
        df_.loc[i,"beta"]*=-1
    else:
        df_.loc[i,"Direction"]=1

/tmp/ipykernel_110045/1565051904.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_.loc[i,"Direction"]=1

In [32]:
# for i in range(df.shape[0]):
#     df_.loc[i,"Predictor"] = "%d:%d" % (df_.loc[i,"#chrom"],df_.loc[i,"pos"])

In [13]:
df_.rename(columns = {'ref' : 'A1'}, inplace = True)
df_.rename(columns = {'alt' : 'A2'}, inplace = True)
df_.rename(columns = {'rsids' : 'Predictor'}, inplace = True)
df_.rename(columns = {'beta' : 'Stat'}, inplace = True)

/tmp/ipykernel_110045/3721912490.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_.rename(columns = {'ref' : 'A1'}, inplace = True)
/tmp/ipykernel_110045/3721912490.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_.rename(columns = {'alt' : 'A2'}, inplace = True)
/tmp/ipykernel_110045/3721912490.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_.rename(columns = {'rsids' : 'Predictor'}, inplace = True)
/tmp/ipykernel_110045/3721912490.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_.rename(columns = {'beta' : 'Stat'}, inplace = True)

In [14]:
df_["n"] = 407690

/tmp/ipykernel_110045/1637584139.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_["n"] = 407690

In [15]:
df_.drop(["chrom","pos","nearest_genes",'consequence',"pval",'sebeta','af','tstat',"ac"],axis=1,inplace=True)

/tmp/ipykernel_110045/912724274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_.drop(["chrom","pos","nearest_genes",'consequence',"pval",'sebeta','af','tstat',"ac"],axis=1,inplace=True)

In [16]:
df_ = df_[["Predictor","A1","A2","Direction","Stat","n"]]

In [17]:
df_.dropna(subset="Predictor", inplace=True)

In [18]:
df_.to_csv('t2d.summaries', index=False, header=True, sep=" ")

In [16]:
import pandas as pd

df2 = pd.read_table('t2d.summaries',sep=" ")
df2

           Predictor A1 A2  Direction   Stat       n
0        rs541172944  G  A        1.0  2.600  407690
1        rs866639523  T  C        1.0  0.800  407690
2         rs10399793  T  C        1.0  0.015  407690
3        rs140052487  C  A       -1.0  0.720  407690
4        rs558796213  G  T        1.0  0.210  407690
...              ... .. ..        ...    ...     ...
2205129  rs563769220  G  A       -1.0  0.930  407690
2205130  rs532391199  G  A       -1.0  0.069  407690
2205131  rs372858948  G  T       -1.0  0.040  407690
2205132  rs546708697  C  G        1.0  1.000  407690
2205133  rs540118497  G  T        1.0  1.900  407690

[2205134 rows x 6 columns]

In [26]:
df2[df2.duplicated(subset=['Predictor'])]

           Predictor A1 A2  Direction   Stat       n
214      rs151120166  G  T       -1.0  1.200  407690
770      rs559902987  C  T        1.0  0.032  407690
809      rs139049437  C  T       -1.0  2.800  407690
980       rs12088187  A  G       -1.0  0.120  407690
1163     rs140198156  T  G        1.0  0.170  407690
...              ... .. ..        ...    ...     ...
2204240  rs538943251  C  T       -1.0  0.087  407690
2204417   rs28540144  G  C       -1.0  0.140  407690
2204738  rs146263542  G  C       -1.0  0.170  407690
2204827  rs143523484  C  T       -1.0  0.028  407690
2205077  rs151067216  C  G       -1.0  0.660  407690

[7961 rows x 6 columns]

In [22]:
df2[df2["Predictor"]=='rs151120166']

       Predictor A1 A2  Direction  Stat       n
213  rs151120166  G  A       -1.0  0.32  407690
214  rs151120166  G  T       -1.0  1.20  407690

In [28]:
df[df.duplicated(subset=['rsids'], keep=False)]

,chrom,pos,ref,alt,rsids,nearest_genes,consequence,pval,beta,sebeta,af,ac,tstat
213,1,715142,G,A,rs151120166,OR4F16,intron_variant,0.70,-0.320,0.84,0.000190,157.7,-0.450
214,1,715142,G,T,rs151120166,OR4F16,intron_variant,0.31,-1.200,1.20,0.000071,57.9,-0.850
618,1,772399,T,A,NaN,SAMD11,intron_variant,0.32,0.430,0.43,0.000340,273.3,2.400
770,1,784750,C,G,rs559902987,SAMD11,intron_variant,0.30,0.540,0.52,0.000210,168.3,2.000
771,1,784750,C,T,rs559902987,SAMD11,intron_variant,0.91,0.032,0.28,0.000450,370.0,0.400
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28337815,22,51204710,G,C,NaN,RABL2B,intron_variant,0.04,-1.400,0.70,0.000200,163.6,-0.220
28337832,22,51208155,C,A,rs563437836,RABL2B,non_coding_transcript_exon_variant,0.57,-0.390,0.68,0.000150,119.3,-0.840
28337833,22,51208155,C,T,rs563437836,RABL2B,non_coding_transcript_exon_variant,0.45,-0.800,1.10,0.000092,74.7,-0.720
28337903,22,51216332,G,A,rs141841916,RABL2B,non_coding_transcript_exon_variant,0.85,-0.460,2.50,0.000036,29.0,-0.074
28337904,22,51216332,G,T,rs141841916,RABL2B,non_coding_transcript_exon_variant,0.17,-0.220,0.16,0.002200,1780.0,-8.700